.contact-form {
    backdrop-filter: blur(1px);
    background-image: linear-gradient(to bottom left, rgb(95, 95, 95), rgba(75, 75, 75, 0));
    background-size: 250% 250%;
    background-position: 0% 100%;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 15px;

    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form-header {
    color: white;
    font-size: 30px;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-input {
    /* margin-top: 20px; */
    /* margin-bottom: 5px; */
    width: 85%;
    height: 50px;
    border-radius: 150px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    font-weight: 100;
    outline-style: none;
    background-color: rgba(34, 34, 34, 0.1);
    backdrop-filter: blur(7px);
    color: white;
    border: 1px solid rgb(90, 90, 90);
    transition: border 0.3s ease-in-out;
}

.form-input:focus {
    border: 1px solid rgb(156, 156, 156);
}

.form-input::placeholder {
    /* padding-left: 20px; */
    font-size: 20px;
    font-weight: 100;
    top: 5px;
    color: rgb(187, 187, 187);
    /* color: pink; */
}

.form-input-name {
    /* margin-top: 20px; */
    /* margin-bottom: 5px; */
    width: 100%;
    height: 50px;
    border-radius: 150px;
    padding-left: 20px;
    /* padding-right: 20px; */
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    font-weight: 100;
    outline-style: none;
    background-color: rgba(34, 34, 34, 0.1);
    backdrop-filter: blur(7px);
    color: white;
    border: 1px solid rgb(90, 90, 90);
    transition: border 0.3s ease-in-out;
}

.form-input-name:focus {
    border: 1px solid rgb(156, 156, 156);
}

.form-input-name::placeholder {
    padding-left: 20px;
    font-size: 20px;
    font-weight: 100;
    top: 5px;
    color: rgb(187, 187, 187);
    /* color: pink; */
}

.form-text-area {
    margin-top: 40px;
    /* margin-bottom: 5px; */
    width: 85%;
    height: 200px;
    border-radius: 25px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    font-weight: 100;
    outline-style: none;
    resize: none;
    background-color: rgba(34, 34, 34, 0.1);
    backdrop-filter: blur(7px);
    color: white;
    border: 1px solid rgb(90, 90, 90);
    transition: border 0.3s ease-in-out;
}

.form-text-area:focus {
    border: 1px solid rgb(156, 156, 156);
}

.form-text-area::placeholder {
    font-size: 20px;
    font-weight: 100;
    top: 5px;
    color: rgb(187, 187, 187);
}

.name-surname-container {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    width: 88%;
    flex: 1;
    /* justify-content: center; */
    justify-content: space-between;
    /* justify-self: center; */
    /* align-items: center; */
    gap: 45px;
}

.name-container {
    /* margin: auto; */
    /* flex: 1; */
    margin-left: -5px;
    width: 100%;
}

.surname-container {
    /* flex: 1; */
    width: 100%;
    margin-right: 20px;
}

.submit-btn {
    user-select: none;
    color: #40cf8e;
    outline-style: none;
    border: none;
    outline: 1px solid #40cf8e;
    border-radius: 150px;
    font-size: 20px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 30px;
    background-color: transparent;
    background-image: linear-gradient(to right, #40cf8e 50%, rgba(32, 32, 32, 0.4) 50%);
    background-size: 200% 100%;
    background-position: 100%;
    /* padding: 20px; */
    width: 90%;
    height: 50px;
    transition: background-position 0.5s ease-in-out, color 0.5s ease-in-out;
}

.submit-btn:hover {
    background-position: 0%;
    color: black;
    cursor: pointer;
}

.submit-btn[resize='1'] {
    animation: resize 0.6s;
}

@keyframes resize {
    50% {
        transform: scale(95%);
    }
    100% {
        transform: scale(100%);
    }
}

.error-container {
    margin-top: 1px;
    min-height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    text-align: left;
    margin-left: 0%;
    width: 87%;
}

.error {
    color: rgb(231, 11, 11);
    font-weight: 500;
    white-space: nowrap;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    animation: fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Wersja mobilna! */

@media screen and (max-width: 640px) {
    .contact-form-header {
        font-size: 20px;
        margin: 0;
        padding: 10px 0;
    }

    .form-input {
        width: 79%;
        height: 35px;
        font-size: 15px;
    }

    .form-input::placeholder {
        font-size: 15px;
    }
    
    .form-input-name {
        width: 82%;
        height: 35px;
        font-size: 15px;
    }

    .form-input-name::placeholder {
        font-size: 15px;
        padding-left: 0px;
    }

    .form-text-area {
        width: 80%;
        font-size: 15px;
        padding-top: 20px;
        margin-top: 20px;
    }

    .form-text-area::placeholder {
        font-size: 15px;
    }

    .name-container, .surname-container {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .name-surname-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        width: 100%;
    }

    .error-container {
        height: 18px;
    }

    .error {
        font-size: 12px;
    }

    .submit-btn {
        font-size: 15px;
        height: 35px;
    }
}