.footer {
    background-color: rgb(31, 31, 31);
    color: white;
    height: 40px;
    width: 100%;
    margin-top: 80px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;

    bottom: 0;
}

.date {
    margin-left: 7vw;
    color: #40cf8e;
}

.footer-text {
    color: #40cf8e;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    margin-right: 7vw;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.footer-icons a {
    margin: 0;
    padding: 0;
    display: inline-flex;
}

.footer-linkedin-icon, .footer-git-icon, .footer-behance-icon {
    fill: #40cf8e;
    height: 20px;
    width: auto;
}

.footer-behance-icon {
    height: 15px;
}

@media screen and (max-width: 640px) {
    .footer {
        height: 30px;
    }

    .date, .footer-text {
        font-size: 10px;
        margin-left: 10px;
    }

    .footer-icons {
        gap: 10px;
        margin-right: 10px;
    }

    .footer-linkedin-icon, .footer-git-icon, .footer-behance-icon {
        height: 15px;
    }
}