.main {
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.header {
    position: relative; /* Ważne: umożliwia pozycjonowanie pseudo-elementu względem tego kontenera */
    width: 100%;
    height: 700px;
    color: white;
    text-align: center;
    bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assets/zorza.png');
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Przezroczystość tylko dla tła */
    z-index: -1; /* Upewnia się, że tło znajduje się pod tekstem */
}

.header-text-1 {
    margin-top: 12rem;
}

.header-text-1, .header-text-2, .header-text-3 {
    width: 60%;
    /* padding: 5px; */
    font-family: "Poppins", sans-serif;
    user-select: none;
}

.header-text-1 {
    color: white;
    font-size: 4.5rem;
    font-weight: 100;
}

.header-text-2 {
    color: #40cf8e;
    font-size: 4.5rem;
    font-weight: 100;
}

.header-text-3 {
    padding: 30px;

    color: rgb(185, 185, 185);
    font-size: large;
}

.about {
    width: 70%;
    text-align: left;
}

.about-header {
    color: white;
    font-size: x-large;
}

.about-text {
    margin-top: 10px;
    color: rgb(185, 185, 185);
    font-size: large;
}

.skillset-header {
    margin-top: 30px;
    color: white;
    font-size: x-large;
}

.skillset-container {
    margin-top: 10px;
}

.skillset-container span {
    display: inline-block;
    color: #40cf8e;
    outline: 1px solid #40cf8e;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    margin-right: 10px;
    margin-top: 10px;
    background-image: linear-gradient(to right, #40cf8e 50%, rgb(10, 10, 10) 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: background-position 0.5 ease;
}

.skillset-container span:hover {
    background-image: linear-gradient(to right, #40cf8e 50%, rgb(10, 10, 10) 50%);
    background-position: left; /* Pozycja tła przy najechaniu (nowy kolor po lewej) */
    background-size: 200% 100%;
    color: black;
    transition: background-position 0.5s ease;
}
