html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.full-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100vw; /* Ustawiamy max-width na 100 viewport width, aby zapobiec poziomemu przewijaniu */
    /* overflow-x: hidden; */
}

.header, .about, .projects, .contact {
    width: 100%; /* Zapewnia, że elementy nie wykraczają poza ekran */
    max-width: 100vw; /* Zapewnia, że szerokość elementu nie przekracza szerokości widoku */
    box-sizing: border-box; /* Zapobiega dodawaniu paddingu i borderów do szerokości elementu */
}

.header {
    /* position: relative; */
    /* width: auto; */
    height: 700px;
    color: white;
    text-align: center;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assets/zorza.png');
    width: auto;
    background-size: cover;
    background-position: center bottom;
    opacity: 0.5;
    z-index: -1;
}

.header-text-1 {
    margin-top: 12rem;
}

.header-text-1, .header-text-2, .header-text-3 {
    /* width: 60%; */
    /* padding-left: 50px; */
    display: flex;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    user-select: none;
}

.header-text-1 {
    color: white;
    font-size: 4.5rem;
    font-weight: 300;
}

.header-text-2 {
    color: #40cf8e;
    font-size: 4.5rem;
    font-weight: 300;
}

.header-text-3 {
    padding: 30px;
    color: rgb(185, 185, 185);
    font-size: large;
    max-width: 1600px;
}

.about, .projects, .contact {
    max-width: 1100px;
    width: calc(100% - 100px);
    margin: auto 50px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.about-header {
    color: white;
    font-size: x-large;
}

.about-text {
    margin-top: 10px;
    color: rgb(185, 185, 185);
    font-size: large;
    display: flex;
    flex-wrap: wrap;
}

.skillset-header {
    margin-top: 60px;
    color: white;
    font-size: x-large;
}

.skillset-container {
    flex-wrap: wrap;
    margin-top: 10px;
}

.skillset-container span {
    display: inline-block;
    user-select: none;
    color: #40cf8e;
    outline: 1px solid #40cf8e;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    margin-right: 10px;
    margin-top: 10px;
    background-image: linear-gradient(to right, #40cf8e 50%, rgb(10, 10, 10) 50%);
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.5s ease, color 0.5s ease;
}

.skillset-container span:hover {
    background-position: 0%;
    color: black;
}

.experience-header {
    margin-top: 60px;
    color: white;
    font-size: x-large;
}

.experience-container {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    /* Usunięto wysokość, aby kontener mógł dostosować się do zawartości */
}

.experience-dates {
    flex-basis: 20%; /* Ustawia bazową szerokość na 300px */
    color: rgb(185, 185, 185);
    font-size: large;
}

.experience-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1; /* Pozwala elementowi rozciągać się, aby zająć dostępną przestrzeń */
    flex-basis: 0; /* Ustawia bazową szerokość na 0%, co pozwala flex-grow działać od początku */
    max-width: 80%; /* Ogranicza maksymalną szerokość do 70% kontenera nadrzędnego */
}

.experience-title {
    /* border: 1px solid white; */
    height: auto;
    width: 600px;

    color: white;
    font-size: large;
    font-weight: 600;
}

.experience-info {
    /* border: 1px solid white; */
    margin-top: 10px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    /* width: 800px; */

    color: rgb(185, 185, 185);
    font-size: large;
}

.experience-skillset {
    /* border: 1px solid white; */
    margin-top: 10px;
    height: auto;
    width: 1000px;
}

.experience-skillset span {
    display: inline-block;
    user-select: none;
    color: #40cf8e;
    outline: 1px solid #40cf8e;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    margin-right: 10px;
    margin-top: 10px;
    background-image: linear-gradient(to right, #40cf8e 50%, rgba(32, 32, 32, 0.0) 50%);
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.5s ease, color 0.5s ease;
}

.experience-skillset span:hover {
    background-position: 0%;
    color: black;
}

.projects {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.projects-header {
    margin-top: 60px;
    color: white;
    font-size: x-large;
}

.projects-container {
    height: auto;
    /* width: 100%; */
    max-width: 1100px;
    margin-top: 30px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
}

.project {
    width: 340px;
    height: 220px;
    background: transparent;
    box-sizing: border-box;
    /* margin-right: 25px;
    margin-bottom: 25px; */
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    backdrop-filter: blur(1px);
    background-image: linear-gradient(to bottom left, rgb(95, 95, 95), rgba(75, 75, 75, 0));
    background-size: 250% 250%;
    background-position: bottom left;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 15px;
    transition: background-position 0.7s ease-in-out;
}

.project:hover {
    background-position: 30% 100%;
    border: 1px solid rgb(133, 133, 133);

}

.project-title-skillset-container {
    display: flex;
    flex-direction: column;
    margin-top: 43px;
    gap: 15px;
}

.project-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    /* top: 45%; */
}

.project-skillset {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.project-skillset span {
    display: inline-block;
    user-select: none;
    color: #40cf8e;
    outline: 1px solid #40cf8e;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    margin-right: 10px;
    margin-top: 10px;
    background-image: linear-gradient(to right, #40cf8e 50%, rgba(32, 32, 32, 0.0) 50%);
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.5s ease, color 0.5s ease;
}

.project-skillset span:hover {
    background-position: 0%;
    color: black;
}

.test {
    visibility: hidden;
}

.project-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 18px;
    margin-right: 18px;
    height: 10%;
    gap: 18px;
}

.project-icon-container a {
    margin: 0;
    padding: 0;
    display: inline-flex;
}

.link-icon, .git-icon, .linkedin-icon, .behance-icon {
    fill: rgb(255, 255, 255);
    height: 100%;
    width: auto;
    transition: fill 0.5s ease;
}

.behance-icon {
    height: 80%;
}

.link-icon:hover, .git-icon:hover, .linkedin-icon:hover, .behance-icon:hover {
    fill: #40cf8e;
}

.contact {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-header {
    margin-top: 60px;
    color: white;
    font-size: x-large;
}

.contact-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    width: 100%;
    margin-top: 30px;
    gap: 30px;
}

.contact-info {
    margin-top: -15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: larger;
    font-weight: 300;
    text-align: left;
    /* margin-right: ; */
}

.contact-info span {
    color: white;
    transition: color 0.5s ease-in-out;
}

.contact-info span:hover {
    color: #40cf8e;
}

.contact-info-icons {
    display: flex;
    /* align-items: flex-start; */
    gap: 20px;
    height: 35px;
    margin-top: 10px;
    /* align-items: flex-; */
    justify-content: start;
}

.contact-info-header {
    margin-top: 15px;
    color: white;
    font-size: x-large;
}

/* Wersja mobilna! */
@media screen and (max-width: 640px) {
    .header {
        height: auto; /* Zmieniamy wysokość na auto, aby dopasować do zawartości */
      }
    
      .header::before {
        /* Zajmuje cały dostępny obszar elementu .header */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('../assets/zorza.png'); /* Upewnij się, że ścieżka do obrazka jest poprawna */
        background-size: cover;
        background-position: center;
        opacity: 0.5;
        z-index: -1;
      }
    
      .header-text-1, .header-text-2, .header-text-3 {
        padding: 0 20px; /* Dodajemy padding, aby tekst nie dotykał krawędzi ekranu */
        font-size: 1.7rem; /* Dostosowujemy rozmiar czcionki */
        justify-content: center; /* Centrujemy tekst */
      }

      .header-text-1 {
        margin-top: 100px;
      }
    
      .header-text-3 {
        font-size: 0.9rem; /* Dostosowanie rozmiaru czcionki dla mniejszego tekstu */
      }

      .about, .projects, .contact {
        margin: 0; /* Usuwa margines, który mógłby powodować przewijanie */
        padding: 0 15px; /* Utrzymuje padding tylko wewnątrz, aby zachować odstępy */
        width: calc(100% - 30px); /* Odejmuje padding, aby uniknąć przewijania */
    }
}